/* Styling the Container */

.response-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    border: 0.3rem solid rgba(0, 0, 0);
    border-radius: 8px;
    background-color: #DFF2D8;
}

/* Hover Styling */

.response-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(86, 185, 235, 0.6);
    transform: translateY(-0.2rem);
    transition: transform 200ms;
}

/* Make response-pretext and text elements look uniform */

.response-pretext {
    padding: 1.2rem 2rem;
    background-color: #f0b27a;
    color: #fff;
}

.response-text {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}

/* Correct or Incorrect answers color styling */

.correct {
    background-color: #90EE90;
}

.incorrect {
    background-color: #FF7F7F;
}

/* Question Counter and Points counter styling */

#status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 3rem;
}

#status-element {
    text-align: center;
}


.status-text {
    text-align: center;
    font-size: 3rem;
}

.number {
    text-align: center;
}